<div class="container">
  <h3 id="add-story">Edit Story</h3>
  <div class="row">
    <form
      action="/blogs/edit/<%= blog._id %>?_method=PUT"
      method="POST"
      class="col s12"
    >
      <div class="row">
        <div class="input-field">
          <input
            type="text"
            id="title"
            name="title"
            required
            value="<%= blog.title %> "
          />
          <label for="title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <select id="status" name="status">
            <%- select(blog.status) %>
          </select>
          <label for="status">Status</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <h5>Tell Us Your Story:</h5>
          <textarea id="body" name="body" required>
              <%= blog.body %> 
          </textarea>
        </div>
      </div>

      <div class="row">
        <input
          type="submit"
          value="Update"
          id="btn-update"
          class="btn dark-green"
        />
        <a href="/dashboard" class="btn red" id="btn-cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
